<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	
	<properties resource="1.properties"/>
	
	<typeAliases>
		<package name="BankCard"/>
	</typeAliases>
	 <!--typeAliases标签 是写实体类的别名，写了之后可以在写Sql配置文件例如<select>标签中的属性就可以不用写实体的具体路径直接用别名就可以了,这里在后面的Card.xml中可以看到  -->
  <environments default="development">
    <environment id="development">
    
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${Driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${user}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
    <!-- 前面这些是给程序加载驱动连接数据库  这里的value值就是1.properties中的文件不需要设置路径-->
  </environments>
  
  <mappers>
    <mapper resource="mapper/Card.xml"/>
     <mapper resource="mapper/Account.xml"/>
    <!-- 这里是指定了映射的参数配置文件,有多少个DAO类就需要多少个xml文件-->
  </mappers>
  <!-- 这里需要注意的是source文件夹导入到buildPath中的Source -->
</configuration>
<!--Mybaties的配置文件  -->
